<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/estilos/home/home.css">
  <link rel="stylesheet" href="/estilos/home/home-media-queires.css">
  <link rel="shortcut icon" href="/favicon/Sonicfavi.png" type="image/x-icon">
  <title>Home</title>
</head>

<div id="conteiner">
  <main>
    <section id="img">
      <!--Imagen-->
    </section>

    <section id="options">
        <h1 id="titulo">Bienvenido</h1>
        <p id="sub-titulo">Que deseas hacer?</p>
  
        <div class="buttons">

            <a id="entrar" href="/login" class="btn">Entrar</a>
          

          
            <a id="Crear" href="/register" class="btn">Crear cuenta</a>
          
        </div>
    </section>
  </main>
</div>
