@charset "UTF-8";

/* TABLET */
@media (min-width: 768px) {
    section {
        max-width: 750px;
        height: 500px;
    }

    div#img {
        float: left;
        width: 35%;
        height: 100%;
        background-image: url("/imagens/Frutiger_Aero_place.jpg");
    }

    form {
        float: right;
        width: 65%;
    }

    input#username,
    input#senha {
        width: 330px;
    }
}

/* LAPTOP */
@media (min-width: 1024px) {
    section {
        max-width: 1000px;
        height: 600px;
    }

    div#img {
        width: 45%;
        background-image: url("/imagens/sonic.jpg");
    }

    form { width: 55%; }
}

/* DESKTOP GRANDE */
@media (min-width: 1440px) {
    section {
        max-width: 1200px;
        height: 750px;
    }

    div#img {
        width: 50%;
    }

    form { width: 50%; }

    input#username,
    input#senha {
        width: 360px;
    }
}
