@media (min-width: 1024px) and (max-width: 1279px) {
    html, body {
        background-image: linear-gradient(#FFFFFF, #79BBED );
    }
    section {
        width: 900px;
        height: 550px;
    }

    div#img {
        background-image: url(../../imagens/sonic.jpg);
        float: left;
        width: 50%;
        height: 100%;
        
    }

    form {
        float: right;
        width: 50%;
    }

    input#username {
        width: 358.7px;
    }

    input#senha {
        width: 358.7px;
    }

    input#entrar {
        width: 349px;
    }

    button#crearCuenta {
        width: 349px;
    }

    .error-message {
        width: 97vw ;
    }
    
}