/* =========================
   MOBILE
========================= */

@media (max-width: 767px) {

    .profile-nav {
        position: relative;
        width: 87%;
    }

    /* BOTÃO HAMBURGUER */
    .menu-icon {
        display: flex;
        flex-direction: column;
        gap: 6px;
        cursor: pointer;
    }

    .menu-icon span {
        width: 28px;
        height: 3px;
        background: #000;
        border-radius: 2px;
    }


    .profile-nav-list {
        width: 85%;
   
        background: linear-gradient(
            180deg,
            rgba(120, 190, 190, 0.78),
            rgba(90, 160, 160, 0.78)
        );

        
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

   
        box-shadow:
            0 14px 34px rgba(0, 0, 0, 0.28),
            inset 0 1px 0 rgba(255, 255, 255, 0.45);

   
        border-radius: 18px;
        border: 1px solid rgba(255, 255, 255, 0.25);
    }

    /* MENU ABERTO (estilo Guanabara) */
    #menu-toggle:checked ~ .profile-nav-list {
        max-height: 350px;
    }
}

/* DESKTOP MÉDIO (quando começa a apertar) */
@media (max-width: 1068px) {

    .profile-nav-item {
        min-width: 140px;
        height: 46px;
        padding: 0 16px;

        font-size: 0.95em;
        
        margin: 11px 0px 10px 0px;
    }

    .profile-nav-list {
        gap: 14px;
    }
}

/* LAPTOP */
@media (max-width: 1279px) and (min-width: 1024px) {
    .profile-nav{
        width: 95%;
    }
}
/* TABLET */
@media (max-width: 1023px) and (min-width: 768px) {
    .profile-nav{
        width: 95%;
    }

   .profile-nav-item {
        min-width: 10px;
        height: 44px;
        font-size: 0.9em;
    }
}