/* =========================
   MOBILE
========================= */

@media (max-width: 767px) {

    .profile-nav {
        width: 100%;
        padding: 10 12px; /* controla espaço lateral */
        box-sizing: border-box;
    }

    .profile-nav-item {
        margin: 10px 0; /* só vertical */
    }

    /* BOTÃO HAMBURGUER */
    .menu-icon {
        display: flex;
        flex-direction: column;
        gap: 6px;
        cursor: pointer;
    }

    .menu-icon span {
        width: 28px;
        height: 3px;
        background: #000;
        border-radius: 2px;
    }


    /*FLEX BOX DE LA LISTA*/
    .profile-nav-list {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        

        background: #ffffff;

        flex-direction: column;
        align-items: center;
        gap: 12px;

        max-height: 0;
        overflow: hidden;

        transition: max-height 0.4s ease;
    }

    /*ESTILOS DE LA LISTA (COLORES)*/
    .profile-nav-list {

        width: 100%;
   
        background: linear-gradient(
            180deg,
            rgba(120, 190, 190, 0.78),
            rgba(90, 160, 160, 0.78)
        );

        
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

   
        box-shadow:
            0 14px 34px rgba(0, 0, 0, 0.28),
            inset 0 1px 0 rgba(255, 255, 255, 0.45);

   
        border-radius: 18px;

    }

    /* MENU ABERTO (estilo Guanabara) */
    #menu-toggle:checked ~ .profile-nav-list {
        max-height: 350px;
    }

    ul {
        padding: 0px;
    }

    .profile-nav {
        position: relative;
    }

    /* BOTÃO HAMBURGUER */
    .menu-icon {
        display: flex;
        flex-direction: column;
        gap: 6px;
        cursor: pointer;
    }

    .menu-icon span {
        width: 28px;
        height: 3px;
        background: #000;
        border-radius: 2px;
    }

    
    
}

/* TABLET */
@media (max-width: 1023px) and (min-width: 768px) {
    .profile-nav{
        width: 95%;
    }

    .profile-nav-item {
        min-width: 10px;
        height: 44px;
        font-size: 0.9em;
    }
}

/* Laptop (1024 – 1365) */
@media (min-width: 1024px) and (max-width: 1365px) {
    .profile-nav{
        width: 95%;
    }
}

/* PC medio (1366 – 1439) */
@media (min-width: 1366px) and (max-width: 1439px) {
    .profile-nav{
        width: 95%;
    }
    
    .profile-nav-item {
        min-width: 140px;
        height: 46px;
        padding: 0 16px;

        font-size: 0.95em;
        
        margin: 11px 0px 10px 0px;
    }

    .profile-nav-list {
        gap: 14px;
    }
}

/* PC grande (1440+) */
@media (min-width: 1440px) {
  /* estilos pc grande */
}
