@media (min-width: 1024px) and (max-width: 1279px) {
        html, body {
        background-image: linear-gradient(#FFFFFF, #99aab8 );
    }
    section {
        width: 900px;
        height: 550px;
    }

    div#img {
        background-image: url(../../imagens/hot-flip.jpeg);
        background-position: center center;
        float: right;
        width: 50%;
        height: 100%;
        
    }

    form {
        float: left;
        width: 50%;
    }

    input#username {
        width: 358.7px;
    }

    input#senha {
        width: 358.7px;
    }

    input#entrar {
        width: 349px;
    }

    button{
        width: 349px;
    }

    .error-message {
        width: 97vw ;
    }
}
